.drawing-board {
    background-color: #f5efe7;
    padding: 0 40px 40px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    background-color: white;
    cursor: crosshair;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
