.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url('../../assets/background/background3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 15%;
}

.container {
    flex: 1;
}

.container-history {
    width: 100%;
    background-image: linear-gradient(#ffffff 1.1rem, #ccc 1.2rem);
    background-size: 100% 1.2rem;
    text-align: center;
    margin: 5% 0;
    border: 2px solid var(--main-color);
    box-shadow: 10px 10px var(--main-color);
    height: 100%;
    overflow: scroll;
}
.container-history h3 {
    padding: 20px 0;
}

.container-header {
    display: flex;
    padding: 30px;
    justify-content: space-between;
}

.overlay {
    // position: fixed;
    // top: 0;
    // left: 0;
    width: 100%;
    height: 100%;
    // background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    // backdrop-filter: blur(5px); /* Apply blur effect to the background content */
    // z-index: 1; /* Ensure the overlay is above other content */
}

.list-images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    grid-auto-rows: minmax(20px, auto);
    width: 100%;
    padding: 30px;
}
.image-item {
    width: 100%;
    background: lightblue;
    padding: 0.4em;
    border-radius: 6px;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
}

.card-image {
    background-color: lightblue;
    width: 100%;
    height: 130px;
    border-radius: 6px 6px 0 0;
}

.image-item .image-item-date {
    // width: 100%;
}

.buttons-action {
    display: flex;
    justify-content: center;
    margin: 12px 0;

    button {
        padding: 5px 10px;
        font-weight: 600;
        border: 2px solid var(--main-color);
        background-color: var(--bg-color);
        color: var(--font-color);
        box-shadow: 4px 4px var(--main-color);
        margin: 0 8px;
        border-radius: 8px;
        transition: all 0.3s ease-in-out;
        cursor: pointer;

        &:hover {
            box-shadow: 0px 0px var(--main-color);
            transform: translate(3px, 3px);
        }
    }
}

/* Add these styles to your existing History.module.scss or create a new CSS file */

.confirmation-dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirmation-dialog-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.confirmation-dialog p {
    margin-bottom: 20px;
}

.confirmation-dialog-buttons button {
    border-radius: 8px;
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.confirmation-dialog-buttons button:nth-child(1) {
    background-color: #dc3545; /* Bootstrap danger color */
    color: #fff;
}

.confirmation-dialog-buttons button:nth-child(2) {
    background-color: #007bff; /* Bootstrap primary color */
    color: #fff;
}
